.header {
  font-size: 1.15rem;
}

.item {
  margin-bottom: 10px;
}

.subList {
  margin-left: 20px;
}

.subList li:last-child {
  margin-bottom: 0;
}

.subList li:before {
  content: '\25CF';
  color: #888;
  font-size: 0.8em;
  margin-right: 5px;
}

.subList li:last-child:before {
  content: '';
}
