@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body,
html {
  @apply min-h-screen font-Raleway place-content-center;
}

* {
  box-sizing: border-box;
}
