body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body,
html {
  min-height: 100vh;
  font-family: Raleway, sans-serif;
}

* {
  box-sizing: border-box;
}
